body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
}

html {
    min-height: 100vh;
    position: relative;
}


/* ======= Title ======= */

#title {
    margin: 40px 0 40px 0;
}

/* ===================== */


/* ======= Boxes ======= */

#boxes {
    height: auto;
    width: auto;
    margin-bottom: 100px;
}

.box {
    border: 1px solid rgba(0, 72, 255, 0.63);
    height: auto;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 3px 5px rgba(119, 119, 119, 0.637);
    -moz-box-shadow: 0 3px 5px rgba(119, 119, 119, 0.637);
    box-shadow: 0 3px 5px rgba(119, 119, 119, 0.637)
}

.box-title {
    background-color: rgba(0, 72, 255, 0.63);
    color: white;
}

.coin-title {
    padding: 8px 0 8px 0;
}

.box-icon {
    height: 40px;
    width: auto;
    margin-right: 5px;
}

.box-table {
    border: 1px solid rgb(247, 247, 247);
    width: 97%;
}

.box-table-item {
    border: 1px solid rgb(247, 247, 247);
    padding: 4px 0 4px 2px;
}

.box-desc {
    border-radius: 4px;
    width: 97%;
    margin-top: 10px;
    height: auto;
}

.btn-cont {
    margin: 20px 0 20px 0;
}

.bttnn {
    background-color: rgba(0, 72, 255, 0.63);
    color: white;
    width: 100%;
    border-radius: 0;
    margin-bottom: 4px;
}

.bttnn:hover {
    color: white;
    background-color: rgba(0, 72, 255, 0.836);
}

*:focus {
    outline: none !important;
    background-color: rgba(0, 72, 255, 0.836);   
}

/* ===================== */

/* ======= Footer ======= */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: rgb(243, 243, 243);
}

footer .col {
    padding-top: 15px;
}

footer a {
    color: inherit!important;
}

/* ===================== */